@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Playpen+Sans:wght@100..800&display=swap');

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10 !important;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5) !important;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #F8F8F8;
}

.ant-collapse-header {
  font-size: 20px;
  align-items: center !important;
}

.ant-collapse-content {
  font-size: 18px;
}

.prices-container .header,
.prices-container .order-btn {
  background-color: #0088CC;
  font-weight: bold;
  margin-top: 10px;
}

.prices-container .title {
  font-weight: 700;
  font-size: 18px;
}

.prices-container {
  border-radius: 20px;
}

.prices-container .header {
  border-radius: 20px 20px 0px 0px;
}

.prices-container .icon {
  color: #0088CC;
  margin-right: 10px;
}

.prices-container p {
  font-size: 16px;
  font-family: "Playpen Sans", cursive;
  font-weight: 400;
}

/* mobile screens */
@media (max-width: 768px) {

  #prices-container,
  #make-order-container {
    width: 100% !important;
  }
}