// styles/_card-cover.scss
@import './card-item';

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1030;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.make-order-container p{
 margin-bottom: 0px;
}